@import "../../../../public/styles/variables";

.article-page {
  padding-top: 80px;
  padding-bottom: 120px;

  .container {
    .content {
      .bread-crumbs {
        margin-bottom: 60px;
      }
      .article-main {
        display: flex;
        justify-content: space-between;
        align-content: baseline;
        margin-bottom: 60px;
        .article-content {
          max-width: 607px;
          font-family: "Lora", sans-serif;
          font-weight: 400;
          .article-title {
            font-size: 38px;
            line-height: 130%;
            color: $light-blue;
            margin-bottom: 40px;
          }
          .article-description {
            font-size: 20px;
            line-height: 130%;
            color: #709fdc;
          }
        }
        .article-image {
          width: 527px;
          height: 320px;
          background-size: cover;
          background-position: center;
          border-radius: 5px;
        }
      }
      .article {
        display: flex;
        justify-content: space-between;

        .article-text {
          max-width: 818px;
        }

        .related-article {
          margin-top: 60px;

          .related-articles-title {
            font-family: "Lora", sans-serif;
            font-weight: 400;
            font-size: 26px;
            line-height: 130%;
            color: #709fdc;
            margin-bottom: 20px;
          }

          .related-items {
            display: flex;
            flex-direction: column;

            .related-item {
              max-width: 292px;
              margin-bottom: 60px;

              .related-item-image {
                border-radius: 5px;
                width: 291px;
                height: 291px;
                background-size: cover;
                background-position: center;
                margin-bottom: 15px;
                position: relative;

                .related-item-category {
                  position: absolute;
                  top: 10px;
                  right: 10px;
                  font-family: "Montserrat", sans-serif;
                  font-weight: 400;
                  font-size: 11px;
                  line-height: 130%;
                  text-align: center;
                  color: #709fdc;
                  border-radius: 5px;
                  padding: 10px 18px;
                  background: #fff;
                }
              }

              .related-item-title {
                font-family: "Monserrat", sans-serif;
                font-weight: 500;
                font-size: 20px;
                line-height: 130%;
                color: #709fdc;
                margin-bottom: 20px;
              }

              .related-item-description {
                font-weight: 400;
                font-size: 14px;
                line-height: 130%;
                color: #071739;
                margin-bottom: 40px;
              }

              .related-item-more {
                a {
                  font-family: "Montserrat", sans-serif;
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 130%;
                  text-decoration: underline;
                  text-decoration-skip-ink: none;
                  color: #709fdc;
                }
              }
            }

          }
        }

      }

    }

  }

}
