<section class="article-page">
  <div class="container">
    <div class="content" *ngIf="article">
      <div class="bread-crumbs">Блог / Дизайн-ревью: в чем его преимущества и особенности?</div>
      <div class="article-main">
        <div class="article-content">
          <div class="article-title">{{article.title}}</div>
          <div class="article-description">{{article.description}}</div>
        </div>
        <div class="article-image" style="background-image: url('/images/articles/{{article.image}}')"></div>
      </div>
      <div class="article">
        <article class="article-text" [innerHTML]="article.text"></article>
        <aside class="related-article">
          <div class="related-articles-title">
            Читайте также:
          </div>
          <div class="related-items">
            <div class="related-item" *ngFor="let relatedArticle of relatedArticles">
              <div class="related-item-image" style="background-image: url('/images/articles/{{relatedArticle.image}}');">
                <div class="related-item-category">{{relatedArticle.category}}</div>
              </div>
              <div class="related-item-title">{{relatedArticle.title}}</div>
              <div class="related-item-description">{{relatedArticle.description}}</div>
              <div class="related-item-more">
                <a [routerLink]="['/article/', relatedArticle.url]">Читать дальше</a>
              </div>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </div>
</section>
