@import "../../../../public/styles/variables";
@import "../../../../public/styles/mixins";

.main {
  padding-bottom: 120px;

  .container {
    .slider-img {
      width: 100%;
      height: 500px;
      background-position: center;
      background-size: cover;
      padding: 116px 0 0 116px;

      .slider-description {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0.4em;
        text-transform: uppercase;
        color: $light-blue;
      }

      .slider-title {
        font-family: "Lora", sans-serif;
        font-weight: 400;
        font-size: 50px;
        line-height: 130%;
        color: #fff;
        max-width: 550px;

        span {
          color: $light-blue;
        }
      }

      .slider-additional {
        margin-bottom: 10px;
        font-size: 24px;
        line-height: 130%;
        color: #fff;
        max-width: 456px;
        margin-top: 20px;
      }

      .slider-action {
        margin-top: 40px;

        .button {
          border-radius: 5px;
          padding: 15px 40px;
        }
      }
    }
  }
}

.services {
  padding-bottom: 120px;

  .container {
    .service-title {
      @include head-lora-38();
      margin-bottom: 40px;
    }

    .our-services {
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      .our-service {
        width: 291px;

        .our-service-image {
          width: 100%;
          height: 291px;
          background-position: center;
          background-size: cover;
          margin-bottom: 20px;
        }

        .our-service-name {
         @include montserrat-20();
          margin-bottom: 10px;
          line-height: 130%;
        }

        .our-service-description {
          font-size: 14px;
          line-height: 130%;
          color: $dark-blue;
          margin-bottom: 15px;
          height: 90px;
        }

        .our-service-additional {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .our-service-price {
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
            font-size: 20px;
            color: $light-blue;
          }
        }
      }

    }
  }
}

.about {
  padding-bottom: 120px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .about-image {
      height: 551px;
      background-position: center;
      background-size: cover;
      width: 460px;
      border-radius: 5px;
    }

    .about-us {
      margin-left: 68px;

      .about-us-title {
        @include head-lora-38();
        margin-bottom: 20px;
      }

      .about-us-text {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        color: $dark-blue;
        max-width: 633px;
        margin-bottom: 40px;

      }

      .advantages {
        max-width: 703px;

        .advantages-title {
          font-family: 'Lora', sans-serif;
          font-weight: 400;
          font-size: 26px;
          color: $light-blue;
          margin-bottom: 20px;
        }

        .advantage-items {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 20px 71px;

          .advantage-item {
            display: flex;
            align-items: center;

            .advantage-step {
              font-family: "Lora", sans-serif;
              font-weight: 500;
              font-size: 50px;
              color: $light-blue;
            }

            .advantage-item-text {
              font-family: "Montserrat", sans-serif;
              margin-left: 20px;
              font-weight: 400;
              font-size: 14px;
              line-height: 130%;
              color: #1e1a2b;

            }
          }
        }
      }
    }
  }
}

.best-articles {
  padding-bottom: 120px;

  .container {
    .articles-title {
      @include head-lora-38();
      margin-bottom: 40px;
    }

    .articles {
      display: flex;
      justify-content: space-between;
    }

    .blog {
      margin-top: 40px;
      display: flex;
      justify-content: end;
      align-items: center;

      a {
        margin-right: 14px;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: #709fdc;
        text-decoration: none;
      }
    }
  }
}

.reviews {
  padding-bottom: 120px;

  .reviews-title {
   @include head-lora-38();
    margin-bottom: 20px;
  }

  .reviews-slider {
    position: relative;

    .slide {
      border: 1px solid #709fdc;
      border-radius: 5px;
      padding: 30px;
      max-width: 396px;
      height: 267px;

      .slide-header {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        .slide-title {
          margin-left: 20px;
          font-family: 'Monserat', sans-serif;
          font-weight: 600;
          font-size: 18px;
          line-height: 130%;
          color: #709fdc;
        }
      }
    }

    .reviews-arrows {
      display: flex;

      a {
        top: calc(50% - 5px);
        display: flex;
        position: absolute;
        cursor: pointer;

        &.move-backwards {
          left: -41px
        }

        &.move-forwards {
          right: -41px
        }
      }
    }
  }
}

.location {
  margin-bottom: 120px;

  .container {
    display: flex;

    .our-location-items {
      margin-left: 26px;

      .our-location-title {
        @include head-lora-38();
      }

      .our-location-item {
        margin-bottom: 20px;

        .our-location-item-title {
          font-family: "Lora", sans-serif;
          font-weight: 500;
          font-size: 20px;
          color: $light-blue;
          margin-bottom: 10px;
        }

        .our-location-item-text {
          a {
            font-size: 14px;
            line-height: 130%;
            color: $dark-blue;
            max-width: 500px;
            text-decoration: none;
          }
        }

        .our-location-item-icons {

          svg {
            margin-right: 20px;
            cursor: pointer;
          }
        }

      }

    }
  }
}
