<div class="popup" (click)="closeOverLay($event)">
  <div class="popup-container" #popup>
    <div class="popup-content" *ngIf="!success">
      <div class="close-popup" (click)="close()">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <line x1="1.93562" y1="2.65002" x2="13.9564" y2="14.6708" stroke="#BEBEBE" stroke-linecap="round"/>
          <line x1="13.9238" y1="2.62978" x2="1.90301" y2="14.6506" stroke="#BEBEBE" stroke-linecap="round"/>
        </svg>
      </div>
      <div class="popup-title">
        <div *ngIf="services.length > 0">Заявка на услугу</div>
        <div *ngIf="services.length === 0">Закажите бесплатную
          консультацию!</div>
      </div>
      <div class="popup-from">
        <div class="popup-select" *ngIf="services.length > 0">
          <select name="service" [(ngModel)]="popupForm.service">
            <option [value]="service.serviceType"  *ngFor="let service of services">{{service.name}}</option>
          </select>
        </div>
        <div class="popup-input">
          <input type="text" placeholder="Ваше имя" [(ngModel)]="popupForm.name" required #name='ngModel'>
        </div>
        <div class="popup-input">
          <input type="tel" placeholder="Ваш номер телефона" [(ngModel)]="popupForm.phone" required #phone='ngModel'>
        </div>
        <div class="popup-action">
          <button class="button"  (click)="requestOrder()" [disabled]="name.errors?.['required'] || phone.errors?.['required']">Оставить заявку</button>
        </div>
        <div class="error" *ngIf="error">
          произошла ошибка при отправке формы, попробуйте еще раз
        </div>
      </div>
    </div>
    <div class="popup-content" *ngIf="success">
      <div class="popup-success">
        <div class="popup-title">
          Спасибо за вашу заявку!
        </div>
        <div class="popup-success-text">
          Мы свяжемся с вами при первой же возможности.
        </div>
        <div class="popup-success-action">
          <button class="button" (click)="close()">Окей</button>
        </div>
      </div>
    </div>
  </div>
</div>
