<section class="login">
  <div class="container">
    <div class="login-form">
      <h1 class="form-title">Войти в личный кабинет</h1>
      <form class="form">
        <div class="login-input">
          <input type="text" placeholder="Электронная почта">
        </div>
        <div class="login-input">
          <input type="text" placeholder="Пароль">
        </div>
        <div class="remember">
          <input type="checkbox" id="remember">
          <label for="remember">
            Запомнить меня
          </label>
        </div>
        <div class="login-action">
          <button class="button">Войти</button>
        </div>
        <div class="auth">
          Нет аккаунта? <a href="signup">Пройдите регистрацию</a>
        </div>
      </form>
    </div>
    <div class="form-image">
      <img src="/images/login-image.png" alt="login">
    </div>
  </div>
</section>
