@import "../styles/variables";

.container {
  max-width: 1289px;
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
}

body, html {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

input {
  border: 1px solid #709fdc;
  border-radius: 3px;
  padding: 20px 64px 20px 20px;
  box-sizing: border-box;
  outline: none;
}

.button {
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
  box-sizing: border-box;
  border: 0;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background: $light-blue;
}


.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.article-text {
  font-size: 20px;
  line-height: 130%;
  color: #709fdc;

  h1, h3 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 20px;
    color: #709fdc;

    a {
      text-decoration: none;
      color: #709fdc;
    }
  }

  p, ol li, ul li {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #071739;
    margin: 20px 0;
  }
  b {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #709fdc;
    margin: 20px 0;
  }

}

