<section class="signup">
  <div class="container">
    <div class="signup-form">
      <h1 class="form-title">Регистрация на сайте</h1>
      <form class="form">
        <div class="signup-input">
          <input type="text" placeholder="Ваше имя">
        </div>
        <div class="signup-input">
          <input type="text" placeholder="Электронная почта">
        </div>
        <div class="signup-input">
          <input type="text" placeholder="Пароль">
        </div>
        <div class="signup-agree">
          <input type="checkbox" id="agree">
          <label for="agree" class="agree">
            Я принимаю <a href="#">условия пользовательского соглашения</a> и даю <a href="#">на обработку персональных данных.</a>
          </label>
        </div>
        <div class="signup-action">
          <button class="button">Зарегистрироваться</button>
        </div>
        <div class="login">
          Уже есть аккаунт? <a href="login">Войдите</a>
        </div>
      </form>
    </div>
    <div class="form-image">
      <img src="/images/signup-image.png" alt="signup">
    </div>
  </div>
</section>
