@import "../../../../../public/styles/variables";
@import "../../../../../public/styles/mixins";

.signup {
  padding-top: 123px;
  padding-bottom: 120px;

  .container {
    display: flex;
    align-items: flex-start;

    .signup-form {
      max-width: 422px;

      .form-title {
        @include head-lora-36();
        margin-bottom: 40px;
      }

      .form {
        .signup-input {
          margin-bottom: 5px;
          div {
            display: none;
            color: red;
            margin-top: 5px;
            margin-bottom: 15px;
            font-size: 14px;
            font-family: "Lora", sans-serif;
            font-style: italic;
          }

          &.report-alert {

            input {
              border-color: red;
            }

            div {
              display: block
            }
          }

          input {
            width: 100%;
          }
        }

        .signup-agree {
          display: flex;
          align-items: baseline;
          margin-top: 10px;

          label {
            font-size: 14px;
            line-height: 130%;
            color: $dark-blue;
            margin-left: 10px;
          }

          a {
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: $light-blue;
          }
        }

        .signup-action {
          margin-top: 40px;

          .button {
            border-radius: 5px;
            padding: 15px 40px;
            width: 100%;
            font-size: 16px;
          }
        }

        .login {
          margin-top: 10px;

          a {
            font-size: 14px;
            color: $light-blue;
            text-decoration: none;
          }
        }
      }

    }

    .form-image {
      margin-left: 185px;
    }

  }

}
