@import "../../../../../public/styles/variables";
.header {
  padding-top: 40px;
  padding-bottom: 40px;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .menu {
      width: 429px;
      margin-left: 100px;
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0;
        li {
          list-style: none;
          a {
            color: $dark-blue;
            text-decoration: none;
            &.active {
              color: $light-blue;
            }
          }
        }
      }
    }
    .contacts {
      margin-left: 100px;
      a {
        color: $light-blue;
        text-decoration: none;
      }
    }
    .login {
      margin-left: 120px;
      display: flex;
      align-items: center;
      cursor: pointer;
      .login-icon {
        margin-right: 7px;
        color: $dark-blue;
      }

      .login-text {
       a{
         font-family: "Montserrat", sans-serif;
         font-weight: 500;
         font-size: 16px;
         line-height: 130%;
         color: $dark-blue;
         text-decoration: none;
       }
      }

    }
  }

}
